.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

form > input {
  margin-left: 50%;
}

.addbutton {
  margin-left: 50%;
}

ul {
  margin-right: 50%;
}

h5 {
  margin-right: 50%;
}